langchain
langchain-openai
langchain-community
langchain_core
langchain_qdrant
langgraph
openai
langfuse
qdrant-client
mysql-connector-python
sqlalchemy
streamlit
pdfplumber
pandas
python-dotenv
tqdm
